  /* body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: hsl(3 100% 4%) !important;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: wheat;   
    }

  .header{
    background-color: hsl(3 100% 4%) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat; 
  }

  .my-color{
    background-color: hsl(3 100% 4%) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat; 
  } */